body {
    background-color: #dadada;
    padding: 20px;
}

.post {
    background-color: #fff;
    border: 1px solid #878787;
    border-radius: 10px;
    padding: 10px;
}

.post input {
    display: none;
}

.post.edit input {
    display: inline-block;
}

.sandbox{
    display:none
}

input.ng-invalid {
    background-color: grey;
}

.form-group p {
    color:red;
    font-weight:bold;
}

.register {
   border: 1px solid #cdcdcd ;
   margin: auto;
   margin-bottom: 40px;
   max-width: 800px;
   padding: 50px;
}
